stages:
  - deploy

pages:
  stage: deploy
  image: python:3.11-slim
  before_script:
    - apt-get update && apt-get install make --no-install-recommends -y
    - python -m pip install -r requirements.txt
  script:
    - cd docs && make html
  after_script:
    - mv docs/_build/html/ ./public/
  artifacts:
    paths:
    - public
  rules:
    - if: $CI_COMMIT_REF_NAME == 'kode-refactoring-flat'